/* ## pbplayer-skin ## */
.pbplayer-wrapper {
	position: relative;
	left: 0;
	right: 0;
	font-family: 'Tahoma',Arial,Helvetica,sans-serif;
	font-size: 11px;
}
.pbplayer-wrapper .pbplayer-skin {
	border: 1px solid #a3a3a3;
	padding-top: 1px;
	background: #ffffff;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin {
	min-height: 24px;
	height: auto !important;
	height: 24px;
	background: #c3c3c3;

	background: -moz-linear-gradient(100% 100% 90deg, #c3c3c3, #e1e1e1);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#c3c3c3), to(#e1e1e1));
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#c3c3c3', startColorstr='#e1e1e1', gradientType='0');
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell {
	min-height: 24px;
	height: auto !important;
	height: 24px;
	padding-bottom: 10px;
}

/* ## pbplayer-player ## */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker {
	position: relative;
	bottom: -12px;
    margin-left: 45px;
    margin-right: 135px;
}

/* ## pbplayer-button ## */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-button {
	overflow: hidden;
	position: absolute;
	top: -4px;
	left: -33px;
	display: block;
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none;
	background: url('images/sprite-pbplayer-controls.png') repeat-x;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-play {
	width: 14px;
	height: 17px;
	background-position: 0 0;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-pause {
	width: 16px;
	height: 17px;
	background-position: -14px 0;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-control-button {
	top: -5px;
 	left: 0%;
	width: 18px;
	height: 19px;
	margin-left: -9px;
	z-index: 4;
	background-position: -70px 0;
}

/* ## pbplayer-volumn-control ## */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control {
	overflow: visible;
	position: absolute;
	top: -4px;
	right: -108px;
	_right: 26px;
	left: auto;
	width: 8px;
	height: 17px;
	z-index: 5;
	background-position: -30px 0;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn0,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn1,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn2,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn3 {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 9px;
	display: block;
	width: 10px;
	height: 17px;
	border: none;
	text-indent: -9999px;
	background: url('images/sprite-pbplayer-controls.png') repeat-x;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn3 { background-position: -38px 0; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn2 { background-position: -48px 0; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn1 { background-position: -58px 0; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-control .pbplayer-volumn0 { background: none; }

/* pbplayer-volumn-slider */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-slider {
	position: absolute;
	bottom: 7px;
	_bottom: 42px;
	left: auto;
 	right: -116px;
	_right: 18px;
	width: 5px;
	height: 60px;
	padding: 6px 4px;
	border: 1px solid #a3a3a3;
	display: none;

	-moz-box-shadow: 0px 1px 1px #999;
	-webkit-box-shadow: 0px 1px 1px #999;
	-o-box-shadow: 0px 1px 1px #999;
	box-shadow: 0px 1px 1px #999;
	
	background: -moz-linear-gradient(100% 100% 90deg, #c3c3c3, #e1e1e1);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#c3c3c3), to(#e1e1e1));
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#c3c3c3', startColorstr='#e1e1e1', gradientType='0');
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-slider .pbplayer-volumn-slider-range {
	position: relative;
	width: 3px;
	height: 60px;
	border: 1px solid #5f5f5f;
	background: #9a9a9a;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-slider .pbplayer-volumn-slider-range .pbplayer-volumn-slider-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30%;
	background: #5f5f5f;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-volumn-slider .pbplayer-volumn-slider-range .pbplayer-volumn-slider-handle {
	overflow: hidden;
    position: absolute;
	right: 0;
    bottom: 30%;
    display: block;
	width: 9px;
    height: 5px;
	margin-bottom: -2px;
	margin-right: -4px;
	_margin-right: -5px;
    padding: 0;    
	border: 1px solid #b2b2b2;
	cursor: pointer;
	background: #e3e3e3;

	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;

	background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #f2f2f2);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ffffff), to(#f2f2f2));
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#f2f2f2', gradientType='0');
}

/* pbplayer-playing-stream */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-playing-stream {
  	margin-left: 45px;
    margin-right: 54px;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-playing-stream .pbplayer-volumn-control {
	right: -27px;
	_right: 26px;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-playing-stream .pbplayer-volumn-slider {
 	right: -36px;
	_right: 18px;
}

/* ## pbplayer-bar ## */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-stream {
	position: absolute;
	left: 0;
	right: 0;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar .pbplayer-bar-skin,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer .pbplayer-bar-skin,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress .pbplayer-bar-skin,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-stream .pbplayer-bar-skin {
	overflow: hidden;
	background: #8a8a8a;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	border-bottom: 1px solid #ffffff;
	background: url('images/sprite-pbplayer-bar.gif') repeat-x 0 0;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar .pbplayer-bar-skin .pbplayer-bar-inner,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer .pbplayer-bar-skin .pbplayer-bar-inner,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress .pbplayer-bar-skin .pbplayer-bar-inner,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-stream .pbplayer-bar-skin .pbplayer-bar-inner {
	overflow: hidden;
	height: 8px;
	border-left: 1px solid #454545;
	border-bottom: 1px solid #454545;
	border-right: 1px solid #454545;

	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;

	-moz-box-shadow: inset 0px 1px 4px #444;
	-webkit-box-shadow: inset 0px 1px 4px #444;
	-o-box-shadow: inset 0px 1px 4px #444;
	box-shadow: inset 0px 1px 4px #444;
}

.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar { z-index: 1; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer { z-index: 2; width: 0%; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress { z-index: 3; width: 0%; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-stream { z-index: 3; width: 100%; }

.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar .pbplayer-bar-skin,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer .pbplayer-bar-skin,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress .pbplayer-bar-skin { background: url('images/sprite-pbplayer-bar.gif') repeat-x; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-stream .pbplayer-bar-skin { background: url('images/pbplayer-bar-stream-animated.gif') repeat-x; }

.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar .pbplayer-bar-skin { background-position: 0 0; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer .pbplayer-bar-skin { background-position: 0 -8px; }
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress .pbplayer-bar-skin { background-position: 0 -16px; }

.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-buffer .pbplayer-bar-skin,
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-bar-progress .pbplayer-bar-skin {
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

/* ## pbplayer-details ## */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-details {
	overflow: hidden;
    padding-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	font-size: 13px;
	font-weight: bold;
	color: #222;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-details p {
	margin: 0;
	padding-right: 20px;
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-play-icon {
	position: relative;
	display: inline-block;
	padding: 0;
	border: none;
	cursor: pointer;
	background: url('images/sprite-pbplayer-controls.png') no-repeat;
	background-position: -90px 2px;
	*background-position: -90px 4px;
	width: 18px;
	height: 19px;
	margin-left: 6px;
	z-index: 4;
}

/* ## pbplayer-time ## */
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-time {
	position: absolute;
	top: 0;
	*top: -2px;
	left: auto;
	right: -134px;
	_right: 0;
	width: 120px;
	line-height: 11px;
	text-align: left;
	color: #494949;
	font-family: 'Helvetica';
}
.pbplayer-wrapper .pbplayer-skin .pbplayer-inner-skin .pbplayer-seeker-shell .pbplayer-seeker .pbplayer-time span {
	display: inline;
	height: auto;
	border: none;
	vertical-align: top;
	line-height: 11px;
}

/* ## pbplayer-wrapper .pbplayer-playlist ## */
.pbplayer-wrapper .pbplayer-playlist {
	border: 1px solid #a3a3a3;
	border-top: none;
	border-bottom: none;

	font-size: 13px;
	font-family: 'Helvetica';
	font-weight: bold;
	color: #222;
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul li {
	overflow: hidden;
	position: relative;
	display: block;
	margin-bottom:0;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #d9d9d9;
	background: #ffffff url('images/sprite-pbplayer-bar.gif') repeat-x 0 -24px;

	background: -moz-linear-gradient(100% 100% 90deg, #ffffff, #f2f2f2);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#ffffff), to(#f2f2f2));
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#ffffff', startColorstr='#f2f2f2', gradientType='0');
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul li:hover {
	_background: #f8f8f8 url('images/pbplayer-bar-hover.png') repeat-x 0 0;
	background: -moz-linear-gradient(100% 100% 90deg, #f2f2f2, #d9d9d9);
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#f2f2f2), to(#d9d9d9));
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#f2f2f2', startColorstr='#d9d9d9', gradientType='0');
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul li a {
	overflow: hidden;
	display: block;
	padding: 8px 35px 8px 10px;
	line-height: 18px;
	text-decoration: none;
	color: #222;
	font-weight: normal;
	outline: 0;
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul li a span {
	display: inline;
	height: auto;
	border: none;
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul .last {
	border-bottom: 1px solid #a3a3a3;
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul .pbplayer-playing {
	margin-left: 30px;
	font-weight: bold;
}
.pbplayer-wrapper .pbplayer-playlist .pbplayer-playlist-skin ul .pbplayer-playing span {
	position: absolute;
	top: 9px;
	_top: 10px;
	left: 15px;
	display: block;
	width: 12px;
	height: 14px;
	border: none;
	background: url('images/sprite-pbplayer-controls.png') no-repeat -103px 0;
}

/* ## Common mockup ## */
/* pbplayer-text-shadow */
.pbplayer-text-shadow {
	text-shadow: #fff 0px 1px 0px;
}

/* Embed code takes some px.. */
embed.pbplayer {
	position: absolute;
}